In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats
import re
import sys 
import statsmodels.stats.multitest
#sys.path.append('C:\\Users\\brittany\\henderson\\GitHub\\GBM_for_CPTAC\\')
#import cis_functions as f
#sys.path.append('C:\\Users\\Lindsey\\Documents\\GitHub\\WhenMutationsDontMatter\\')
#import plot_utils as p


import cptac
import cptac.utils as u

# GBM

In [2]:

df = pd.read_csv('GBM_EGFR_other.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df

      Comparison         Slope     R_squared       P_value
0         PHLDA1  5.368720e-01  6.591140e-01  9.317624e-27
1          SOCS2  2.909121e-01  3.312017e-01  5.912447e-11
2         GPRIN3 -1.968711e-01  2.860431e-01  2.089433e-09
3           NFIA  2.349343e-01  2.788730e-01  3.609065e-09
4          MEOX2  2.938146e-01  2.893869e-01  1.114403e-08
...          ...           ...           ...           ...
10063   ALDH16A1 -2.107089e-05  6.175566e-09  9.993529e-01
10064      ARPIN -9.183936e-06  1.015793e-09  9.997776e-01
10065    POMGNT1 -3.929534e-06  5.430333e-10  9.998081e-01
10066   SERPINA4  9.564123e-06  2.820304e-10  9.998617e-01
10067      AKAP7  7.816406e-08  2.411407e-14  9.999987e-01

[10068 rows x 4 columns]

# Kidney

In [3]:
df2 = pd.read_csv('Kidney_EGFR_other.csv')

In [4]:
df2 = df2.drop(['Unnamed: 0'], axis=1)
df2

      Comparison     Slope     R_squared       P_value
0        SLC16A3  1.948890  8.714648e-01  1.800478e-87
1       NDUFA4L2  3.199722  8.652865e-01  1.637846e-85
2           PYGL  1.671819  8.476211e-01  2.269840e-80
3           NOL3  1.657460  8.303670e-01  6.801961e-76
4       PPP1R13L  0.941977  8.250937e-01  1.289226e-74
...          ...       ...           ...           ...
10615      DPY30 -0.000034  2.197312e-08  9.983633e-01
10616       NXF1 -0.000016  8.603673e-09  9.989758e-01
10617       SDC3  0.000369  1.693425e-07  9.992284e-01
10618        WRB  0.000056  8.595204e-09  9.993322e-01
10619      RAB4B  0.000005  3.455657e-10  9.997947e-01

[10620 rows x 4 columns]

In [5]:
Gbm_kidney = pd.merge(df, df2, on="Comparison", how = "outer")
Gbm_kidney = Gbm_kidney.rename(columns={"Slope_x": "Slope_Gbm", "R_squared_x": "R_squared_gbm","P_value_x": "P_value_Gbm" })
Gbm_kidney = Gbm_kidney.rename(columns={"Slope_y": "Slope_kidney", "R_squared_y": "R_squared_kidney","P_value_y": "P_value_kidney" })
#Gbm_kidney.to_csv("GBM_Kidney_EGFR_all.csv")
Gbm_kidney

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN
...,...,...,...,...,...,...,...
11880,HIST1H2BB,NaN,NaN,NaN,-0.013281,0.000122,9.775112e-01
11881,POF1B,NaN,NaN,NaN,0.003014,0.000004,9.777676e-01
11882,GPR18,NaN,NaN,NaN,-0.024345,0.000101,9.795530e-01
11883,CD79A,NaN,NaN,NaN,0.004027,0.000014,9.857007e-01
11884,CEACAM7,NaN,NaN,NaN,0.004111,0.000011,9.902006e-01

# Endometrial

In [6]:
df3 = pd.read_csv("Endo_EGFR_other.csv")
df3 = df3.drop(['Unnamed: 0'], axis=1)
df3

     Comparison     Slope     R_squared       P_value
0         CYLC1  2.205497  1.000000e+00  0.000000e+00
1        PGRMC1  0.826272  4.557369e-01  1.716216e-20
2          ROR2  0.696391  4.305630e-01  4.372766e-19
3        RHBDF1  0.514847  4.143455e-01  3.271381e-18
4          GPX8  0.819246  4.125182e-01  4.089941e-18
...         ...       ...           ...           ...
9946      INTS2  0.000035  9.473855e-09  9.990762e-01
9947   C11orf68  0.000081  9.173637e-09  9.990909e-01
9948      SPON1 -0.000177  7.263106e-09  9.991911e-01
9949      HYLS1 -0.000089  2.535062e-08  9.992984e-01
9950      UFSP2  0.000020  2.216054e-09  9.995532e-01

[9951 rows x 4 columns]

In [7]:
pancan = pd.merge(Gbm_kidney, df3, on="Comparison", how = "outer")
pancan = pancan.rename(columns={"Slope": "Slope_Endo", "R_squared": "R_squared_Endo","P_value": "P_value_Endo" })
pancan

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney,Slope_Endo,R_squared_Endo,P_value_Endo
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05,0.304536,6.844122e-02,0.001538
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02,0.174235,1.906803e-02,0.123080
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01,0.168797,4.875856e-02,0.011583
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15,0.052400,3.221808e-03,0.499205
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12388,C11orf16,NaN,NaN,NaN,NaN,NaN,NaN,-0.003030,1.331041e-05,0.983152
12389,TTC21A,NaN,NaN,NaN,NaN,NaN,NaN,-0.002420,4.236107e-06,0.987656
12390,AMPD1,NaN,NaN,NaN,NaN,NaN,NaN,0.004010,3.406916e-05,0.988110
12391,HOXD11,NaN,NaN,NaN,NaN,NaN,NaN,0.001252,5.117517e-07,0.997752
12392,KLK12,NaN,NaN,NaN,NaN,NaN,NaN,0.000834,7.915830e-08,0.998129

# Ovarian

In [8]:
df_Ovar = pd.read_csv("Ovar_EGFR_other.csv")
df_Ovar = df_Ovar.drop(['Unnamed: 0'], axis=1)
df_Ovar

     Comparison         Slope     R_squared       P_value
0           DPT  1.795847e+00  4.503296e-01  8.751882e-15
1            CP  1.174599e+00  4.445998e-01  1.486631e-14
2          AMBP  1.273994e+00  4.351269e-01  3.528593e-14
3           OGN  2.412038e+00  4.301344e-01  5.533366e-14
4        ABI3BP  1.881803e+00  4.292029e-01  6.015382e-14
...         ...           ...           ...           ...
9674       PHYH  4.817077e-05  1.263137e-09  9.997157e-01
9675     PCMTD1 -2.887423e-05  1.246684e-09  9.997176e-01
9676    TMEM175  2.866794e-05  4.372342e-10  9.998560e-01
9677     CCDC94 -1.616499e-05  2.495293e-10  9.998736e-01
9678       UBA3 -7.442072e-07  1.711304e-12  9.999895e-01

[9679 rows x 4 columns]

In [9]:
pancan = pd.merge(pancan, df_Ovar, on="Comparison", how = "outer")
pancan = pancan.rename(columns={"Slope": "Slope_Ovar", "R_squared": "R_squared_Ovar","P_value": "P_value_Ovar" })
pancan

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney,Slope_Endo,R_squared_Endo,P_value_Endo,Slope_Ovar,R_squared_Ovar,P_value_Ovar
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05,0.304536,0.068441,0.001538,0.840646,2.474298e-01,0.002761
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02,0.174235,0.019068,0.123080,NaN,NaN,NaN
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01,0.168797,0.048759,0.011583,0.131152,1.141540e-02,0.302755
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15,0.052400,0.003222,0.499205,0.418724,1.379906e-01,0.000112
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13584,STARD9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001737,3.015707e-06,0.986110
13585,CENPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001439,3.474135e-06,0.988723
13586,MROH8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002439,2.951149e-06,0.992186
13587,TMEM69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001884,9.429241e-07,0.993313
13588,CCDC94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.000016,2.495293e-10,0.999874

# BRCA

In [10]:
df_Brca = pd.read_csv("Brca_EGFR_other.csv")
df_Brca = df_Brca.drop(['Unnamed: 0'], axis=1)
df_Brca

     Comparison     Slope     R_squared       P_value
0          MPP6  0.429836  4.201654e-01  4.834438e-15
1         CPNE8  0.422036  3.800139e-01  2.229263e-13
2        CRYBG3  0.328675  3.720964e-01  4.612176e-13
3          PHC3 -0.358139  3.638555e-01  9.738761e-13
4         GATA3 -0.871909  3.586947e-01  1.547846e-12
...         ...       ...           ...           ...
9149     SEMA4C  0.000186  6.404153e-08  9.978583e-01
9150    ZKSCAN5  0.000208  4.283453e-08  9.983862e-01
9151      EIF2A  0.000048  1.258126e-08  9.990508e-01
9152      YARS2 -0.000056  8.771033e-09  9.992074e-01
9153    CSNK1G1  0.000042  4.541596e-09  9.994503e-01

[9154 rows x 4 columns]

In [11]:
pancan = pd.merge(pancan, df_Brca, on="Comparison", how = "outer")
pancan = pancan.rename(columns={"Slope": "Slope_Brca", "R_squared": "R_squared_Brca","P_value": "P_value_Brca" })
pancan

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney,Slope_Endo,R_squared_Endo,P_value_Endo,Slope_Ovar,R_squared_Ovar,P_value_Ovar,Slope_Brca,R_squared_Brca,P_value_Brca
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05,0.304536,0.068441,0.001538,0.840646,0.247430,0.002761,0.363866,0.133077,0.000190
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02,0.174235,0.019068,0.123080,NaN,NaN,NaN,NaN,NaN,NaN
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01,0.168797,0.048759,0.011583,0.131152,0.011415,0.302755,-0.063316,0.011106,0.262337
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15,0.052400,0.003222,0.499205,0.418724,0.137991,0.000112,-0.093636,0.013491,0.216394
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14981,ADARB2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.018408,0.000137,0.939896
14982,GTF2H2C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002232,0.000043,0.944789
14983,FAM134C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003038,0.000017,0.965252
14984,DDTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002766,0.000013,0.969627
14985,C18orf63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004057,0.000006,0.980937

# Luad

In [12]:
df_Luad = pd.read_csv("Luad_EGFR_other.csv")
df_Luad = df_Luad.drop(['Unnamed: 0'], axis=1)
df_Luad

     Comparison     Slope     R_squared       P_value
0        NUDCD3  0.274645  3.195084e-01  2.216197e-19
1          GGCT  0.626198  3.194070e-01  2.251647e-19
2       TAX1BP1  0.484005  3.008109e-01  3.983400e-18
3        LANCL2  0.346998  2.950990e-01  9.485783e-18
4          BAG6  0.179578  2.602363e-01  1.641704e-15
...         ...       ...           ...           ...
9546       F11R -0.000045  3.397975e-09  9.993252e-01
9547      LPIN1 -0.000021  1.540774e-09  9.995456e-01
9548    ATG16L2  0.000028  1.312677e-09  9.997660e-01
9549       CLK1  0.000013  3.358753e-10  9.997961e-01
9550      NLRX1  0.000009  2.786305e-10  9.998068e-01

[9551 rows x 4 columns]

In [13]:
pancan = pd.merge(pancan, df_Luad, on="Comparison", how = "outer")
pancan = pancan.rename(columns={"Slope": "Slope_Luad", "R_squared": "R_squared_Luad","P_value": "P_value_Luad" })
pancan

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney,Slope_Endo,R_squared_Endo,P_value_Endo,Slope_Ovar,R_squared_Ovar,P_value_Ovar,Slope_Brca,R_squared_Brca,P_value_Brca,Slope_Luad,R_squared_Luad,P_value_Luad
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05,0.304536,0.068441,0.001538,0.840646,0.247430,0.002761,0.363866,0.133077,0.000190,0.230993,5.472760e-02,0.001574
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02,0.174235,0.019068,0.123080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01,0.168797,0.048759,0.011583,0.131152,0.011415,0.302755,-0.063316,0.011106,0.262337,-0.136217,3.954143e-02,0.003566
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15,0.052400,0.003222,0.499205,0.418724,0.137991,0.000112,-0.093636,0.013491,0.216394,NaN,NaN,NaN
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17765,ABCC4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004768,1.575670e-05,0.960268
17766,SHC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001345,1.262210e-05,0.967379
17767,ARHGAP19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002460,8.038649e-06,0.976548
17768,FAM83A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.002197,3.418987e-06,0.982765
17769,BIVM-ERCC5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.000117,8.203376e-08,0.996684

# HNSCC

In [14]:
df_hnscc = pd.read_csv("Hnscc_EGFR_other.csv")
df_hnscc = df_hnscc.drop(['Unnamed: 0'], axis=1)
df_hnscc

      Comparison      Slope  R_squared  P_value
0         SNAP25  -0.346518        1.0      0.0
1         HHIPL2  -1.571562        1.0      0.0
2          PLCH1   0.221471        1.0      0.0
3        DENND1A  -0.016648        1.0      0.0
4        COL23A1 -36.960300        1.0      0.0
...          ...        ...        ...      ...
7341  SSX2;SSX2B        NaN        0.0      NaN
7342        TSHR        NaN        0.0      NaN
7343      TSPEAR        NaN        0.0      NaN
7344      VPS13D        NaN        0.0      NaN
7345     ZC2HC1A        NaN        0.0      NaN

[7346 rows x 4 columns]

In [15]:
pancan = pd.merge(pancan, df_hnscc, on="Comparison", how = "outer")
pancan = pancan.rename(columns={"Slope": "Slope_hnscc", "R_squared": "R_squared_hnscc","P_value": "P_value_hnscc" })
pancan

,Comparison,Slope_Gbm,R_squared_gbm,P_value_Gbm,Slope_kidney,R_squared_kidney,P_value_kidney,Slope_Endo,R_squared_Endo,P_value_Endo,...,P_value_Ovar,Slope_Brca,R_squared_Brca,P_value_Brca,Slope_Luad,R_squared_Luad,P_value_Luad,Slope_hnscc,R_squared_hnscc,P_value_hnscc
0,PHLDA1,0.536872,0.659114,9.317624e-27,0.189696,0.081886,5.235390e-05,0.304536,0.068441,0.001538,...,0.002761,0.363866,0.133077,0.000190,0.230993,0.054728,0.001574,0.018865,0.280689,0.000259
1,SOCS2,0.290912,0.331202,5.912447e-11,-0.385206,0.599567,1.430341e-02,0.174235,0.019068,0.123080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GPRIN3,-0.196871,0.286043,2.089433e-09,-0.032602,0.005102,3.223231e-01,0.168797,0.048759,0.011583,...,0.302755,-0.063316,0.011106,0.262337,-0.136217,0.039541,0.003566,-0.002017,0.020163,0.189533
3,NFIA,0.234934,0.278873,3.609065e-09,0.241707,0.276612,3.410149e-15,0.052400,0.003222,0.499205,...,0.000112,-0.093636,0.013491,0.216394,NaN,NaN,NaN,-0.006417,0.004646,0.341222
4,MEOX2,0.293815,0.289387,1.114403e-08,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18021,LCE3C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
18022,SPINK2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
18023,SSX2;SSX2B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
18024,TSHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
18025,TSPEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN

In [16]:
pancan.to_csv("pancan_EGFR_other.csv")