In [1]:
import pandas as pd
import plot_utils 
import numpy as np
import math

/Users/hannahboekweg/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
trans = pd.read_csv('~/WhenMutationsDontMatter/PIK3CA/csv_files/proteomics.csv', index_col=0)
trans.head()

,Difference_In_Median_Brca,P_Value_Brca,Difference_In_Median_Endo,P_Value_Endo,Difference_In_Median,P_Value
A2ML1,-1.26120,0.165194,1.10585,0.037044,NaN,NaN
AADAT,-1.33200,0.027477,-0.18535,0.690613,NaN,NaN
AAGAB,-0.09455,0.909622,0.24350,0.139632,0.1390,0.039189
AASDHPPT,0.51445,0.003620,-0.10590,0.428884,-0.0628,0.973515
AATF,-0.16905,0.042271,-0.18170,0.915482,0.0250,0.568821

In [3]:
trans.loc[trans.index.str.contains("MET")]

,Difference_In_Median_Brca,P_Value_Brca,Difference_In_Median_Endo,P_Value_Endo,Difference_In_Median,P_Value
METAP1D,-0.50980,0.047000,0.07190,0.164569,NaN,NaN
METAP2,-0.11795,0.946290,-0.01965,0.333791,0.23240,0.035209
METTL15,-0.38605,0.029505,0.34650,0.068601,0.02085,0.660051
METTL3,-0.06140,0.420283,0.02830,0.588049,0.24140,0.033464
METTL8,-0.44070,0.004792,-0.15855,0.635958,NaN,NaN

In [6]:
trans.loc[trans.index.str.contains("PTEN")]

Empty DataFrame
Columns: [Difference_In_Median_Brca, P_Value_Brca, Difference_In_Median_Endo, P_Value_Endo, Difference_In_Median, P_Value]
Index: []