In [1]:
import cptac
import cptac.pancan as pc
import numpy as np
import cptac.utils as ut
import plot_utils as plt
import pandas as pd
from scipy.stats import ttest_ind

In [2]:
dataset_names = pc.list_datasets(False)
dataset_names  = dataset_names.split('\n')
dataset_names

['PancanBrca',
 'PancanCcrcc',
 'PancanCoad',
 'PancanGbm',
 'PancanHnscc',
 'PancanLscc',
 'PancanLuad',
 'PancanOv',
 'PancanUcec',
 'PancanPdac']

In [3]:
target_gene = "TP53"

In [4]:
datasets = {}
for name in dataset_names:
    exec(f"cancer = pc.{name}(no_internet = True)")  
    genotype_data = cancer.get_genotype_all_vars(mutations_genes = target_gene, omics_source = "washu")
#     genotype_data = genotype_data.droplevel("Database_ID", axis = 1)
    
    mutation_data = cancer.get_proteomics(source = 'umich')
    mutation_data = mutation_data.droplevel("Database_ID", axis = 1)
    mutation_data = mutation_data.loc[:, ["TP53"]]
    
#     phospho_data = cancer.get_phosphoproteomics(omics_source = "umich", mutations_genes = target_gene, omics_genes = target_gene)
#     phospho_data.loc[:, phospho_data.columns.get_level_values(0) == "TP53"].droplevel(["Database_ID", "Peptide"], axis = 1)
    
    transcript_data = cancer.get_transcriptomics(source = "washu")
    transcript_data = transcript_data.droplevel("Database_ID", axis = 1)
    
    datasets[name[6:]] = [genotype_data, mutation_data, transcript_data]

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 68 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
cptac warning: washu_CNV data was not found for the following samples, so washu_CNV data columns were filled with NaN for these samples: 01BR044, 604 (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 104 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 44 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 67 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 14 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 9 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 50 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 5 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 73 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

cptac warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 41 samples for the TP53 gene (/home/sdsquires/anaconda3/lib/python3.8/site-packages/cptac/pancan/pancandataset.py, line 174)
/home/sdsquires/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [13]:
#Cancers with more than 20% having deletions
deletion_sets = ["Brca","Ccrcc","Coad","Luad","Ov","Pdac"]

In [14]:
target_dataset = datasets["Ccrcc"]
target_dataset[2]
# target_dataset[2].loc[target_dataset["Mutation"] == "Deletion"]

Name             TP53
Patient_ID
C3L-00004         NaN
C3L-00010         NaN
C3L-00011    0.752436
C3L-00026    0.200561
C3L-00079         NaN
...               ...
C3N-01646.N       NaN
C3N-01648.N       NaN
C3N-01649.N -0.071430
C3N-01651.N -0.194742
C3N-01808.N -0.004054

[194 rows x 1 columns]

In [7]:
genotype_and_prot = target_dataset[1].merge(target_dataset[2], left_index = True, right_index = True)
genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Deletion"]

Name        Mutation  Location    Mutation_Status      TP53
Patient_ID
C3L-00011   Deletion  Deletion  Multiple_mutation  0.752436
C3L-00096   Deletion  Deletion    Single_mutation       NaN
C3L-01557   Deletion  Deletion  Multiple_mutation       NaN
C3N-00492   Deletion  Deletion  Multiple_mutation  1.423219
C3N-01175   Deletion  Deletion  Multiple_mutation -0.231664

In [15]:
with open("deletion_protein_data.txt", 'w') as outFile:
    for name, dataset in datasets.items():
        if name not in deletion_sets: continue
        outFile.write(name + '\n')
        genotype_and_prot = dataset[1].merge(dataset[2], left_index = True, right_index = True)
        deletions = genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Deletion"][target_gene].dropna()
        wildtypes = genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Wildtype_Tumor"][target_gene].dropna()
        outFile.write("len(deletions) = " + str(len(deletions)) + '\n')
        outFile.write("len(wildtypes) = " + str(len(wildtypes)) + '\n')
        result = ttest_ind(deletions, wildtypes)
        outFile.write(name + " deletion P-value: " + str(result[1]) + '\n')
        outFile.write("\n")

In [11]:
#Cancers with more than 20% having Missense and Wildtype
missense_sets = ["Luad", "Pdac"]
for name, dataset in datasets.items():
    if name not in missense_sets: continue
    print(name)
    genotype_and_prot = dataset[1].merge(dataset[2], left_index = True, right_index = True)
    missenses = genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Missense_Mutation"][target_gene].dropna()
    wildtypes = genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Wildtype_Tumor"][target_gene].dropna()
    print("len(missenses) = " + str(len(missenses)))
    print("len(wildtypes) = " + str(len(wildtypes)))
    result = ttest_ind(deletions, wildtypes)
    print(name + " missense P-value: " + str(result[1]))
    print("\n")
    
# genotype_and_prot = datasets["Luad"][1].merge(datasets["Luad"][2], left_index = True, right_index = True)
# genotype_and_prot["Mutation"]
# genotype_and_prot.loc[genotype_and_prot["Mutation"] == "Missense_Mutation"]

Luad
len(missenses) = 21
len(wildtypes) = 29
Luad missense P-value: 0.000165611279181047


Pdac
len(missenses) = 28
len(wildtypes) = 21
Pdac missense P-value: 0.008603505603947332

In [12]:
for thing in datasets["Brca"]:
    print(thing)

Name                      A1BG               A1CF                A2M  \
Database_ID ENSG00000121410.10 ENSG00000148584.13 ENSG00000175899.13
Patient_ID
01BR001               -0.07265           -0.00966           -0.11622
01BR008               -0.06644            0.11550            0.31413
01BR009                0.28468           -0.14743           -0.26372
01BR010                0.00370           -0.14666           -0.00332
01BR015                0.09610            0.13746            0.03751
...                        ...                ...                ...
21BR010                0.09361            0.01611           -0.28076
22BR005               -0.08688            0.14103            0.07224
22BR006               -0.12214           -0.01817           -0.08264
CPT000814             -0.28279            0.19699            0.78773
CPT001846             -0.33676            0.00001           -0.19285

Name                     A2ML1           A3GALT2             A4GALT  \
Database_ID ENSG00000166535.18 ENSG00000184389.9 ENSG00000128274.14
Patient_ID
01BR001               -0.11622           0.81754           -0.01887
01BR008                0.31413           0.08417           -0.07571
01BR009               -0.26372          -0.13078            0.04398
01BR010               -0.00332           0.03008           -0.00940
01BR015                0.03751          -0.17893           -0.24742
...                        ...               ...                ...
21BR010               -0.28076           0.20480           -0.09252
22BR005                0.07224           0.19114            0.10595
22BR006               -0.08264           0.00284           -0.13574
CPT000814              0.78773           0.28838           -0.27609
CPT001846             -0.19285           0.22849            0.35858

Name                    A4GNT               AAAS               AACS  \
Database_ID ENSG00000118017.3 ENSG00000094914.11 ENSG00000081760.15
Patient_ID
01BR001              -0.06602           -0.00563           -0.16064
01BR008              -0.09075           -0.02567           -0.02567
01BR009               0.26289           -0.22827           -0.17576
01BR010              -0.00744           -0.00332           -0.00332
01BR015               0.09962            0.12874           -0.21528
...                       ...                ...                ...
21BR010               0.14542           -0.07210           -0.27232
22BR005               0.04622            0.07224            0.07224
22BR006               0.16954           -0.08264           -0.08264
CPT000814             0.49232           -0.21862            0.26911
CPT001846            -0.23250           -0.19285           -0.19285

Name                     AADAC  ...              ZW10             ZWILCH  \
Database_ID ENSG00000114771.12  ... ENSG00000086827.7 ENSG00000174442.10
Patient_ID                      ...
01BR001               -0.06602  ...           0.01914           -0.26696
01BR008               -0.09075  ...          -0.04312            0.00988
01BR009                0.26289  ...          -0.15614           -0.15576
01BR010               -0.00744  ...           0.03900           -0.18501
01BR015                0.09962  ...          -0.20074           -0.23970
...                        ...  ...               ...                ...
21BR010                0.14542  ...          -0.21169           -0.05243
22BR005                0.04622  ...          -0.15844           -0.02987
22BR006                0.16954  ...          -0.00762            0.15528
CPT000814              0.49232  ...          -0.20654           -0.26420
CPT001846             -0.23250  ...           0.17642           -0.16877

Name                     ZWINT               ZXDC            ZYG11A  \
Database_ID ENSG00000122952.15 ENSG00000070476.13 ENSG00000203995.8
Patient_ID
01BR001               -0.00966           -0.06602           0.13021
01BR008                0.11550           -0.09075           0.08417
01BR009               -0.14743            0.26289          -0.15498
01BR010               -0.14666           -0.00744           0.03008
01BR015                0.13746            0.09962           0.40474
...                        ...                ...               ...
21BR010                0.01611            0.14542           0.20480
22BR005                0.14103            0.11510          -0.10190
22BR006               -0.01817            0.16954           0.00284
CPT000814              0.19699            0.49232           0.23411
CPT001846              0.00001           -0.07372           0.22849

Name                    ZYG11B                ZYX              ZZEF1  \
Database_ID ENSG00000162378.11 ENSG00000159840.14 ENSG00000074755.13
Patient_ID
01BR001                0.13021            0.05187            0.22080
01BR008                0.08417           -0.00576           -0.02004
01BR009               -0.15498            0.06942            0.34555
01BR010                0.03008           -0.03744           -0.14187
01BR015                0.40474           -0.27216           -0.18660
...                        ...                ...                ...
21BR010                0.20480            0.09074           -0.23205
22BR005               -0.10190           -0.14466           -0.10652
22BR006                0.00284            0.08096           -0.03947
CPT000814              0.23411           -0.36827           -0.13659
CPT001846              0.22849            0.58829           -0.10437

Name                      ZZZ3                 pk
Database_ID ENSG00000036549.11 ENSG00000091436.15
Patient_ID
01BR001               -0.09706            0.09183
01BR008                0.08417           -0.05192
01BR009               -0.15498            0.21653
01BR010                0.03008            0.14108
01BR015                0.40474           -0.23689
...                        ...                ...
21BR010                0.20480           -0.04792
22BR005                0.29626            0.12110
22BR006                0.00284           -0.05902
CPT000814              0.23411            0.12777
CPT001846              0.22849           -0.13963

[122 rows x 18926 columns]
Name                 Mutation     Location    Mutation_Status
Patient_ID
01BR001     Missense_Mutation      p.R249N  Multiple_mutation
01BR008     Missense_Mutation      p.Y220C    Single_mutation
01BR009     Missense_Mutation      p.F270L  Multiple_mutation
01BR010        Wildtype_Tumor  No_mutation     Wildtype_Tumor
01BR015     Missense_Mutation      p.P278T    Single_mutation
...                       ...          ...                ...
22BR005     Nonsense_Mutation       p.W91*    Single_mutation
22BR006        Wildtype_Tumor  No_mutation     Wildtype_Tumor
604           Frame_Shift_Del     p.E204fs    Single_mutation
CPT000814      Wildtype_Tumor  No_mutation     Wildtype_Tumor
CPT001846      Wildtype_Tumor  No_mutation     Wildtype_Tumor

[124 rows x 3 columns]
Name            TP53
Patient_ID
01BR001     0.699109
01BR008     0.635106
01BR009     0.817050
01BR010    -1.168920
01BR015    -1.101540
...              ...
21BR010    -1.613442
22BR005    -1.102900
22BR006    -1.935436
CPT000814   1.123524
CPT001846  -0.191796

[125 rows x 1 columns]
Name        5S_rRNA  5S_rRNA  5S_rRNA   5S_rRNA  5S_rRNA  5S_rRNA  5S_rRNA  \
Patient_ID
01BR001         0.0      0.0      0.0  1.756644      0.0      0.0      0.0
01BR008         0.0      0.0      0.0  1.783371      0.0      0.0      0.0
01BR009         0.0      0.0      0.0  0.000000      0.0      0.0      0.0
01BR010         0.0      0.0      0.0  2.023434      0.0      0.0      0.0
01BR015         0.0      0.0      0.0  0.000000      0.0      0.0      0.0
...             ...      ...      ...       ...      ...      ...      ...
21BR010         0.0      0.0      0.0  1.988271      0.0      0.0      0.0
22BR005         0.0      0.0      0.0  1.122470      0.0      0.0      0.0
22BR006         0.0      0.0      0.0  1.939708      0.0      0.0      0.0
CPT000814       0.0      0.0      0.0  1.159214      0.0      0.0      0.0
CPT001846       0.0      0.0      0.0  0.843032      0.0      0.0      0.0

Name        5S_rRNA  5S_rRNA   5S_rRNA  ...  uc_338  uc_338  uc_338    uc_338  \
Patient_ID                              ...
01BR001         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.238985
01BR008         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.000000
01BR009         0.0      0.0  0.732229  ...     0.0     0.0     0.0  0.263943
01BR010         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.229401
01BR015         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.248619
...             ...      ...       ...  ...     ...     ...     ...       ...
21BR010         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.270497
22BR005         0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.509027
22BR006         0.0      0.0  0.000000  ...     0.0     0.0     0.0  2.111125
CPT000814       0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.000000
CPT001846       0.0      0.0  0.000000  ...     0.0     0.0     0.0  0.000000

Name        uc_338  uc_338    uc_338  uc_338  uc_338  yR211F11.2
Patient_ID
01BR001        0.0     0.0  0.000000     0.0     0.0    0.000000
01BR008        0.0     0.0  0.000000     0.0     0.0    0.000000
01BR009        0.0     0.0  0.000000     0.0     0.0    0.156545
01BR010        0.0     0.0  0.242067     0.0     0.0    0.068029
01BR015        0.0     0.0  0.000000     0.0     0.0    0.000000
...            ...     ...       ...     ...     ...         ...
21BR010        0.0     0.0  0.000000     0.0     0.0    0.000000
22BR005        0.0     0.0  0.000000     0.0     0.0    0.075476
22BR006        0.0     0.0  0.000000     0.0     0.0    0.000000
CPT000814      0.0     0.0  0.000000     0.0     0.0    0.000000
CPT001846      0.0     0.0  0.000000     0.0     0.0    0.226747

[121 rows x 60483 columns]