In [4]:
import pandas as pd
import numpy as np
import plot_utils
import cptac
import cptac.utils as u
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

/Users/hannahboekweg/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
sig = pd.read_csv('~/WhenMutationsDontMatter/PIK3CA/csv_files/proteomics_sig.csv', index_col=0)
sig.head()

,Difference_In_Median_Brca,P_Value_Brca,Difference_In_Median_Endo,P_Value_Endo,Difference_In_Median,P_Value
A2ML1,NaN,NaN,1.10585,0.037044,NaN,NaN
AADAT,-1.33200,0.027477,NaN,NaN,NaN,NaN
AAGAB,NaN,NaN,NaN,NaN,0.139,0.039189
AASDHPPT,0.51445,0.003620,NaN,NaN,NaN,NaN
AATF,-0.16905,0.042271,NaN,NaN,NaN,NaN

In [6]:
full_brca_df = sig[['Difference_In_Median_Brca', 'P_Value_Brca']]
full_brca_df = full_brca_df.dropna(how='all')
full_brca_df

          Difference_In_Median_Brca  P_Value_Brca
AADAT                      -1.33200      0.027477
AASDHPPT                    0.51445      0.003620
AATF                       -0.16905      0.042271
ABCA13                      0.63735      0.021190
ABCC5                       0.68955      0.049308
...                             ...           ...
ZNF24                      -0.47160      0.021202
ZNF385A                     0.93700      0.019012
ZNF629                     -0.20970      0.036093
ZNF654                      0.49290      0.048872
ZW10                        0.69000      0.002517

[824 rows x 2 columns]

In [7]:
full_endo_df = sig[['Difference_In_Median_Endo', 'P_Value_Endo']]
full_endo_df = full_endo_df.dropna(how='all')
full_endo_df

        Difference_In_Median_Endo  P_Value_Endo
A2ML1                    1.105850      0.037044
ABL1                    -0.161000      0.027486
ACADVL                   0.390900      0.025435
ACE                     -0.598600      0.018149
ACOT9                    0.371045      0.010161
...                           ...           ...
ZCCHC9                   0.273000      0.035275
ZFX                     -0.102335      0.025764
ZNF331                  -0.335900      0.013401
ZNHIT3                   0.138950      0.029161
ZNRD1                    0.304750      0.017492

[445 rows x 2 columns]

In [8]:
full_colon_df = sig[['Difference_In_Median', 'P_Value']]
full_colon_df = full_colon_df.dropna(how='all')
full_colon_df

         Difference_In_Median   P_Value
AAGAB                 0.13900  0.039189
ABHD16A              -0.19120  0.035684
ACOT9                -0.24950  0.029555
AES                   0.76950  0.000167
AIFM1                -0.29250  0.045817
...                       ...       ...
VANGL1                0.78150  0.009708
WDR89                 0.49400  0.044098
YBX1                  0.31000  0.023125
ZHX2                  0.22205  0.040977
ZNF768                0.37550  0.030999

[179 rows x 2 columns]