In [1]:
import pandas as pd

In [12]:
trans = pd.read_csv('csv_files/proteomics.csv')
# trans = trans.set_index("Unnamed: 0")
trans

,Unnamed: 0,Difference_In_Median_Brca,P_Value_Brca,Difference_In_Median_Endo,P_Value_Endo,Difference_In_Median,P_Value
0,A1BG,-0.64290,0.605521,-0.07100,0.720461,0.153,0.873969
1,A2M,0.26040,0.917772,-0.10300,0.681688,0.071,0.971735
2,A2ML1,0.74900,0.070253,-0.47135,0.136212,NaN,NaN
3,AAAS,-0.16450,0.093375,-0.07410,0.295868,-0.044,0.557351
4,AACS,0.07180,0.899917,0.03900,0.734326,-0.037,0.452855
...,...,...,...,...,...,...,...
9766,ZXDC,-0.08945,0.583564,-0.08700,0.808610,NaN,NaN
9767,ZYG11B,0.13290,0.124112,0.03240,0.755896,NaN,NaN
9768,ZYX,-0.47940,0.426235,0.13800,0.251409,-0.137,0.921572
9769,ZZEF1,0.02700,0.537838,0.00210,0.398421,-0.016,0.391801
9770,ZZZ3,0.05820,0.804589,0.01570,0.978939,NaN,NaN